
@import './src/pages/chats/chatsStyles.scss';
@import './src/pages/ErrorScreens/404and500Styles.scss';
@import './src/modules/Header/headerStyles.scss';
@import './src/pages/authScreens/Login/login.scss';

$primary: aqua;


body{
    background-color: #FAEDFC;
    height: 100%;
    margin: 0;
}
.root{
 //  display: grid;
//    grid-template-areas:
//     'header header header'
//     '. . .';
    display: flex;
    flex-direction: column;
}
.SummDiv{
    background-color: $primary;
}